# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Testing
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pipenv
Pipfile.lock

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Migrations
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Virtual environment
.env/
.env.bak/
.envrc
.venv/
*.egg-info/

# System files
Thumbs.db
ehthumbs.db

# JetBrains IDEs
*.iml
.idea/
